<div class="toolbar">
			<button type="button" class="btn btn-default" ng-click="shufflePoll()">
				SHUFFLE DECK			
			</button> 
</div>

<div class="board">
	
	<div  class="card" 
	ng-repeat="card in cards" 
	draggable card="card" 
	mouseupcallback="cardmoved(card)"
	mousedowncallback="cardhold(card)"
	ng-style="{'top': card.y + 'px', 'left':  card.x + 'px', 'background': 'url(../Textures/cardsheet.png)'+(card.number*-142)+'px 0'}"
	ng-class="{'locked': card.locked}"
	>
	</div>

</div>