html, body, .view {
	width: 100%;
	height: 100%;
	margin: 0px !important;
}

.gameframe {
	
	color: white;
	width: 100%;
	height: 100%;

}

.toolbar {
	background-color: #a6a5a4;
}

.board {
	background-color: black;
	height: 100%;

}

.card {

}

.locked {
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; /* prevents text selection */
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-color: red !important;
}